(cloudflare) {
    tls {
        dns cloudflare {$CF_DNS_TOKEN}
    }
}

# proxmox
proxmox.hosted.stephenhallett.nz {
    reverse_proxy https://100.76.206.4:8006 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

# code-server
code.hosted.stephenhallett.nz {
    reverse_proxy http://100.76.206.4:4200
    import cloudflare
}
